


/* background:url('css\bijlibackground.png'); */

body{
    margin-bottom: 20px;
    /* background-image: url('back.png.png'); */
    
     /* filter: blur(1px); */
}

 /* .mainback{
    margin: 0%;
    padding: 0%;

    background-image: url('back.png.png'); 
    background-size: cover; 
    filter: blur(10px);
}
     */
    
 .container{
  
   width: 1000px;
   margin: 10px auto;
   /* background-image: url('back.png.png'); 
   background-size: cover; */

  

 }

 /* a{
    display: block;
 } */


li{
    display:inline-block; 
    margin: 10px;
  
}
h2{
    border-bottom: 1px solid black;
     
}
nav{
    background-color: rgb(142, 129, 129);
    text-align: center;
}